.c-softwares {
  padding-top: 70px;
  padding-bottom: 70px;

  @media screen and (min-width: 992px) {
    &__list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (max-width: 1269px) {
    > .container {
      padding-right: 0;
      padding-left: 0;
    }
    .slick-slide {
      padding: 0 20px;
    }
  }
}