.u-hidden {
  display: none !important;

  @media screen and (max-width: 767px) {
    &--small {
      display: none !important;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    &--medium {
      display: none !important;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1399px) {
    &--large {
      display: none !important;
    }
  }

  @media screen and (min-width: 1400px) {
    &--huge {
      display: none !important;
    }
  }
}